/* Colores */
:root {

    --color-g: #6C933E;
    --color-b: #D9E4CC;
    --color-grey: #4A4A4A;
    --color-w: #FFFFFF;
    --color-d: #000000;


    /* Tipos de fuente */

    --font-text: "Roboto", sans-serif;
    --font-title: "Roboto Slab", sans-serif;
}




// --font-text: normal 400 "Roboto",
// sans-serif;
// --font-title: normal 700 "Roboto Slab",
// sans-serif;