.footer {
    background: var(--color-grey);
    color: var(--color-w);
    padding: 3rem 1.5rem;
    text-align: center;
    position: relative;

    &__arrow {
        position: absolute;
        top: -1.4rem;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        background-color: var(--color-w);
        color: var(--color-g);
        border-radius: 50%;
        text-decoration: none;
        box-shadow: 0 1px 0 #979797;
        animation: arrowmove 0.5s infinite alternate;

        @keyframes arrowmove {
            from {
                margin-top: 0;
            }

            to {
                margin-top: 1rem;
            }
        }
    }

    &__columns {
        display: flex;
        flex-direction: column;
        padding: 4.5rem;
        gap: 2rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__navsocial {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__a {
        color: var(--color-w);
        text-decoration: none;
        font-family: var(--font-text);
        font-size: 1rem;
    }

    &__copyright {
        font-size: 0.9rem;
        font-family: var(--font-text);
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    &__copy {
        display: block;
    }

    &__heart {
        color: var(--color-g)
    }

    @media (min-width: 768px) {
        &__columns {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
        }

        &__copyright {
            order: 1;
        }

        &__nav {
            order: 2;
        }

        &__navsocial {
            order: 3;
        }
    }

    @media (min-width: 1024px) {
        &__columns {
            max-width: 1000px;
            margin: auto;
            order: 2;
        }
    }
}