.hero {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    text-align: center;

    background-image: url(/images/hero-cover.webp);
    background-size: cover;
    background-position: 65% bottom;

    &__content {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    &__title {
        font-size: clamp(1.4rem, 4vw, 2.5rem);
        font-family: var(--font-title);
        color: var(--color-w);
        line-height: 1.2;
    }

    &__subtitle {
        font-family: var(--font-text);
        font-size: clamp(1rem, 3.5vw, 1.5rem);
        color: var(--color-w);
        margin-top: 0.8rem;
        max-width: 16rem;
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--color-g);
        margin-top: 1.5rem;
        background-color: var(--color-w);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
    }

    &__content {
        margin-top: 55vh;
    }

    @media (min-width: 768px) {
        background-position: center bottom;

        &__content {
            margin-top: 50vh;
        }

        &__subtitle {
            max-width: none;
        }
    }

    @media (min-width: 1024px) {
        background-position: center center;

        &__content {
            margin-top: 45vh;
        }
    }
}