<!-- Sección 3 Vuelta al cole -->
<section id="back" class="back">
    <p class="back__pretitle">
        ¡Prepáralos con tus marcas favoritas!</p>

    <h2 class="back__title">
        VUELTA AL COLE</h2>

    <div class="articles">
        <article class="articles__store">
            <img class="articles__img" src="/images/image01.webp" alt="Dark-haired girl with a backpack">
            <h3 class="articles__products">Mochilas escolares</h3>
        </article>

        <article class="articles__store">
            <img class="articles__img" src="/images/image03.webp"
                alt="Blond boy with pencil case in his left hand and markers thrown from his right hand">
            <h3 class="articles__products">Estuches</h3>
        </article>

        <article class="articles__store">
            <img class="articles__img" src="/images/image02.webp"
                alt="Girl with a ponytail holding a backpack in one hand and making a V sign with the other">
            <h3 class="articles__products">Bolsas de deporte</h3>
        </article>
    </div>

    <a href="https://adalab.es/" class="articles__btn">Empezar ahora</a>
</section>