<!-- Sección 2 Tu tienda -->
<section class="store">
    <p class="store__pretitle">HISTORIAS, MODA Y ROPA DEPORTIVA</p>
    <h2 class="store__title">TU TIENDA DE DEPORTE</h2>
    <p class="store__content">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre
        y mujer te ofrece
        las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>

    <a href="https://adalab.es/" class="store__btn">Comprar</a>
</section>